<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>body{ font-size: 1em; }</style>
    <title>coursera-MyFirstAngularJSApp</title>
  </head>
  <body ng-app="DIApp" >
    <!--<h1>Hello Coursera Student!</h1>
    <div ng-controller="myFirstController">
        {{name}}
        {{sayHello()}}
        <input type="text" ng-model="name">
        My Own value is {{name}}
    </div>-->
    <h1>Expressions and interpolation</h1>
    <div ng-controller="MsgController">
      Your Message is : {{name}} <br>
      Your Favourite : {{sayFavourite()}}
      <div>
        <button ng-click="bikevertical()">Bike Vertical</button>
        <br>
        <!--<img src="images/Bike_{{stateofbeing}}.jpg" alt="No image available">
        To avoid error in console as image not found eventhough image is fetched and display
      To make it fetch url in Angular and not a normal url -->

      <img ng-src="images/Bike_{{stateofbeing}}.jpg" alt="No image available">
      </div>
    </div>
  </body>
</html>
